body {
  background: #eee;
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
h1 {
  text-align: center;
}
.logo {
  border: solid 1px black;
  position: fixed;
  width: 100%;
  top: 5px;
  background-color: white;
}
.logo img {
  width: 180px;
  padding: 10px 10px 0 10px;
}
content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding: 0 10px;
}
.searchContainer p,
#search {
  display: inline;
}
#cardList {
  margin: 25px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, minmax(180px, 300px));
  grid-gap: 15px;
}
#cardList li {
  font-size: calc(0.8vw + 10px);
  font-weight: 700;
  overflow: hidden;
  padding: 15px;
  background: #fff;
  text-align: left;
  display: flex;
  flex-direction: column;
  border: solid 2px #9e9e9e;
  border-radius: 20px;
}
#cardList img {
  display: block;
  max-width: 100%;
  margin-bottom: 15px;
}
.deleteBtn {
  align-self: flex-end;
  padding: 8px 13px;
  place-self: flex-start;
}
.cardMeta {
  display: flex;
  justify-content: space-between;
}
.pagination {
  min-width: 300px;
  display: flex;
  justify-content: space-around;
  align-self: center;
  margin-top: 50px;
}
button {
  cursor: pointer;
  padding: 8px 40px;
  border-radius: 6px;
  border-width: thin;
  margin: 8px;
}

@media (max-width: 920px) {
  .logo {
    display: flex;
    justify-content: center;
  }
  content {
    display: block;
  }
  #cardList {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}
